*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  background-color: white;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.instructions {
  padding-top: 4em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border: solid 1px white;
  border-radius: 20px;
  overflow: hidden;
}

.grid-item {
  height: 80px;
  width: 80px;
  background-color: yellow;
  border: solid 1px white;
  position: relative;
  /* margin: -1px; */
}

.grid-item.active{
  border: solid 10px white;
  border-radius: 100%;
}
